<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox Demo</title>
    <style>
        #b{
            background-color: rgb(235, 178, 24);
            width: 150px;
            flex: 1;
            border-radius: 50%;
        }
        #c{
            background-color: rgb(255, 0, 0);
            width:50px;
            height:50px;
            border-radius: 50%;
        }
        #a{
            background-color: rgb(0, 255, 34);
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .espacial-lyaout{
            height: 550px;
            border: 2px solid black;
            display: flex;
            flex-direction:row;
            align-items: stretch;
            justify-content: space-between;
            
        }
    </style>
</head>
<body>
    <a href="/">Home</a>
    <h1>Flexbox</h1>
    <div class="espacial-lyaout">
    <div id="a"></div>
    <div id="b"></div>
    <div id="c"></div>
</div>
</body>
</html>